/* GLOBAL */

:root {
    font-family: 'Lilita One', cursive;

    --bg-primary: #17252a;
    --bg-secondary: #10171a;
    --accent-primary: #ff8a00;
    --accent-secondary: #e52e71;
    --accent-dull: #fff;
    --accent-dull2: #f3c188;
}

html {
    box-sizing: border-box;
    font-size: 100%;

    scroll-behavior: smooth;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    transition: all 200ms ease-in-out;
}

a {
    text-decoration: none;
    display: inline-block;
}

body{
    margin: 0;
    background-color: var(--bg-primary);
    height: 100%;
}

.main-body{
    padding-top: 5rem;
    height: 100%;
}

.wrapper {
    max-width: 63.125rem; /*1010px*/
    margin-inline: auto;
}

/*Desktop Query*/
@media only screen and (min-width: 62.5em) {
    .wrapper {
        width: calc(100% - 10rem);
    }
}

/*Tablet Query*/
@media only screen and (min-width: 37.5em) {
    .wrapper {
        width: calc(100% - 4rem);
    }
}

/*Mobile Query*/
@media only screen and (max-width: 37.5em) {
    .wrapper {
        width: calc(100% - 2rem);
    }
}

/* --------------------------------------------------------------------------------------------------------------------- */
/* HEADER */

.navbar{
    padding: 1rem 0rem;
    background-color: var(--bg-secondary);

    width: 100%;

    position: fixed;
    top: 0;

    z-index: 2;

}

.navitems{
    display: flex;
    align-items: center;
}

.logotitle{
    font-size: 3rem;
    margin: 0;

    /* color: var(--accent-primary); */
    width: fit-content;

    color: var(--bg-primary);
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.acc{
    margin-left: auto;
    border-radius: 5px;
    background-color: var(--accent-primary);
    padding: 0.4rem 1rem;
    
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--accent-dull);
}

.acc:hover{
    transform: scale(1.1);
}

.acc:active{
    transform: scale(1);
}

.logout_lnks{
    margin-left: auto;
    font-size: 1.4rem;
    color: var(--accent-dull);
    background-color: var(--accent-primary);
    padding: 0.4rem 1rem;
    border-radius: 5px;
}

.logout_lnks > a {
    text-decoration: none;
    color: var(--accent-dull);
    border: none;
    border-bottom: 2px solid transparent;
}

.logout_lnks > a:hover {
    border-bottom: 2px solid var(--bg-secondary);
}